* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;

}

.main-div {
    width: 100%;

    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 100px 500px 100px 400px rgba(0, 0, 0, 0.6);

    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d7af077c-af5a-4055-8f9a-740a43588583/95bae10c-9773-4447-af4e-612a244231bd/IN-en-20230717-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.navbar {
    width: 100%;
    height: 70px;

}

.navbar img {
    margin-top: 25px;
    margin-left: 160px;
    width: 150px;
}

.nav-drop select {
    width: 130px;
    height: 30px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: #191919;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.nav-img {
    float: left;
}

.nav-drop {
    float: right;
}

.nav-drop button {
    background-color: #E50914;
    padding: 7.5px 15px 7.5px 15px;
    margin-right: 150px;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.2s;
    border: none;
}
.nav-drop button a{
    text-decoration: none;
    color: aliceblue;
}
::placeholder {
    color: #AEB8B8;
    padding-left: 20px;
    font-size: 17px;
}

.nav-drop button:hover {
    background-color: #b9060f;
}

.wrapper h1 {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.wrapper h6 {
    color: aliceblue;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

.wrapper p {
    color: aliceblue;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

#email {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
}

input:focus {
    border-color: aliceblue;
}

.wrap-box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrap-box button {
    margin-left: 10px;
    padding: 2px 55px 2px 55px;
    border-radius: 5px;
    background-color: #E50914;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    border: none;
    transition: 0.2s;

}
.wrap-box button a{
    color:aliceblue;
    text-decoration: none;
}

.wrap-box button:hover {
    background-color: #b9060f;
}

.filler {
    width: 100%;
    height: 10px;
    background-color: #232323;
}

.first-container {
    width: 100%;
    height: 570px;
    background-color: black;
}

.first-container .tv-text {
    background: #000000;
    width: 50%;
    height: 570px;
    float: left;
}

.first-container .tv-img {
    background: #000000;
    width: 50%;
    height: 570px;
    float: left;
    background-repeat: no-repeat;
    background-size: 500px;
}

#video {
    width: 500px;
    height: 250px;
    margin-top: 155px;
    margin-left: 51px;
}

.tv-img img {
    width: 600px;
    height: auto;
    z-index: 0;
    position: absolute;
    top: 1000px;
    left: 1060px;
    transform: translate(-50%, -50%);
}

.tv-text h1 {
    margin-right: 40px;
}

.tv-text p {
    margin-left: 70px;
}

.second-container {
    width: 100%;
    height: 570px;
}


.sec-img {
    width: 50%;
    height: 570px;
    float: left;
    background: #000000;
}

.sec-img img {
    width: 580px;
    margin-left: 190px;
    margin-top: 50px;
    z-index: -1;
}



.sec-text {
    width: 50%;
    height: 570px;
    float: right;
    background: #000000;
}


.over-img {
    position: absolute;
    z-index: 1;
    top: 1640px;
    left: 330px;
    width: 300px;
    height: 100px;
    background: #000000;
    border-radius: 10px;
    border: solid #5A5A5A;
    border-width: 02px;
}

#poster {
    width: 60px;
    margin-top: 7px;
    margin-left: 15px;
}

.over-img h3 {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 85px;
}

.over-img h6 {
    color: #006AEB;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 33px;
    left: 85px;
}

#down {
    width: 50px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.sec-text h1 {
    margin-right: 100px;
}

.sec-text p {
    margin-right: 220px;
}


.third-container {
    width: 100%;
    height: 570px;
}

.third-text {
    width: 50%;
    height: 570px;
    float: left;
    background: #000000;
}

#video2 {
    width: 380px;
    margin-top: 77px;
    margin-left: 90px;
    z-index: -1;
}

.third-img {
    background: #000000;
    width: 50%;
    height: 570px;
    float: left;
    background-repeat: no-repeat;
    background-size: 500px;
}

.third-img img {
    position: absolute;
    top: 1900px;
    left: 750px;
    width: 600px;
}

.third-text p {
    margin-left: 35px;
}

.fourth-container {
    width: 100%;
    height: 570px;
    background: #000000;
}

.fourth-img {
    width: 50%;
    height: 570px;
    background: #000000;
    float: left;
}

.fourth-text {
    width: 50%;
    height: 570px;
    background: #000000;
    float: right;
}

.fourth-img img {
    margin-left: 170px;
    margin-top: 100px;
    width: 600px;
}

.fourth-text h1 {
    margin-right: 100px;
}

.fourth-text p {
    margin-right: 120px;
}

.fifth-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fifth-container h2 {
    margin-top: 40px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;

}

.fifth-container ul li {
    color: aliceblue;
    list-style-type: none;
}



summary {
    background: #2D2D2D;
    width: 1200px;
    height: 60px;
    margin-top: 10px;
    list-style-type: none;
    padding-left: 20px;
    line-height: 60px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    
}

summary a{
    text-decoration: none;
    color: aliceblue;
}

summary:hover{
    background: #585858;
}

.fifth-container p {

    background: #2D2D2D;
    width: 1220px;
}

.faq {
    margin-bottom: 70px;
}

summary span {
    margin-left: 1050px;
    font-size: 40px;
    font-weight: 700;
}

.footer {
    width: 100%;
    height: 450px;
    background: #000000;
}


.wrap-box2 {
    margin-top: 10px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrap-box2 button {
    margin-left: 10px;
    padding: 2px 55px 2px 55px;
    border-radius: 5px;
    background-color: #E50914;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    border: none;
    transition: 0.2s;

}

.wrap-box2 button a{
    text-decoration: none;
    color: aliceblue;
}

.wrap-box2 button:hover {
    background-color: #b9060f;
}

.footer-1 {
    width: 33.3%;
    height: 450px;
    color: aliceblue;
    float: left;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-1 h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #A2B3B3;
    text-decoration: none;
    margin-top: 70px;
}

.footer-1 h6 a {
    text-decoration: none;
    color: #A2B3B3;
}



.footer-1 ul {
    list-style: none;
    margin-left: 140px;
}

.footer-1 ul li {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.footer-1 ul li a {
    text-decoration: none;
    color: #A2B3B3;
}

.footer-1 h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #A2B3B3;
    margin-top: 40px;
    margin-left: 140px;
}




.footer-2 {
    width: 33.3%;
    height: 450px;
    float: left;
}

.footer-2 ul {
    list-style: none;
    list-style: none;
    margin-left: 140px;
    margin-top: 105px;
}

.footer-2 ul li {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.footer-2 ul li a {
    text-decoration: none;
    color: #A2B3B3;
}

.footer-3 ul {
    list-style: none;
    list-style: none;
    margin-left: 140px;
    margin-top: 105px;
}

.footer-3 ul li {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.footer-3 ul li a {
    text-decoration: none;
    color: #A2B3B3;
}


.footer-3 {
    width: 33.3%;
    height: 450px;
    float: left;
}

#foot-drop {
    margin-top: 20px;
    margin-left: 140px;
}